/* common */
.fl {
  float: left;
}

html, body {
  background-color: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

#home {
  height: 100%;
}

/* login区域 */
#login {
  position: relative;
  top: 130px;
  z-index: 10;
  height: 100%;
  background-color: #eee;
  text-align: center;
}

.login__title {
  display: inline-block;
  width: 40%;
  height: 20px;
  margin-bottom: 40px;
  line-height: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1a2a3a;
}

.login__input {
  width: 45%;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.label {
  margin-top: 20px;
  display: block;
}

.login__input .label:first-child {
  margin-top: 40px;
}

.label__name {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
}

.label__input {
  height: 30px;
  width: 350px;
  outline: none;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  font-size: 16px;
  text-indent: 0.8em;
}

.label__input:focus {
  border: 1px solid #3498db;
}

.btn {
  margin: 30px 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #409eff;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #66b1ff;
}

.btn:active {
  background-color: #3a8ee6;
}

.btn-large {
  padding: 8px 16px;
}

.btn-primary {
  background-color: #337ab7;
}

.btn-primary:hover {
  background-color: #286090;
}

.btn-primary:active {
  background-color: #204d74;
}

/* aside 区域 */
.aside__nav {
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  /* padding: 10px; */
  background-color: #30426a;
}

.nav__logo {
  height: 150px;
  text-align: center;
}

.nav__logo > img {
  height: 150px;
}

.nav__item {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.nav__item:hover {
  background-color: #2d3e63;
}

.nav__item > a {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  padding: 0 35px;
  color: #b2bfdc;
}

.nav__item--active {
  font-weight: bold;
  background-color: #2d3e63;
  /* border-left: 3px solid #fff; */
}

.nav__item--active::before {
  content: "";
  display: inline-block;
  height: 26px;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
}

.nav__item--active > a {
  color: #fff;
}

/* dashboard内容区域 */
#content {
  margin-left: 200px;
  height: 100%;
}

.dashboard {
  padding: 10px;
  height: 100%;
}

.panel {
  width: 300px;
  height: 145px;
  margin: 50px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.panel:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.panel:hover > .panel__title {
  color: #23527c;
}

.panel:hover > .panel__title span {
  color: #23527c;
  text-decoration: underline;
}

.panel__icon {
  display: inline-block;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  margin: 40px 30px;
  padding: 10px;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  background-color: #337ab7;
}

.panel__icon > i {
  font-size: 30px;
  vertical-align: -17px;
  color: #fff;
}

.panel__title {
  display: inline-block;
  font-size: 28px; 
  font-weight: bold;
  color: #337ab7;
}

.panel__title > span:last-child {
  font-size: 14px;
  font-weight: bold;
}

.panel__content {
  display: inline-block;
  margin-top: 40px;
  font-size: 28px;
  color: #337ab7;
}

/* tasks 内容区域 */
.tasks {
  padding: 40px 20px 0;
  /* overflow: hidden; */
}

.task__content {
  max-height: 500px;
  overflow-y: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-spacing: 0;
}

.thead th, .tbody td {
  border-bottom: 1px solid #ddd;
  color: #909399;
  padding: 12px 5px;
  text-align: center;
}

.thead th {
  user-select: none;
}

.tbody td {
  color: #606266;
}

.tbody tr:hover {
  background-color: rgba(48, 66, 106, 0.05);
}

.tbody .noDataTr:hover {
  background-color: #f3f3f3;
}

.log, .stop {
  padding: 0 5px;
  font-size: 14px;
  color: #337ab7;
  cursor: pointer;
}

.stop {
  font-weight: bold;
}

.log:hover, .stop:hover {
  color: #23527c;
}

.break {
  word-break: break-all;
}

.logPage {
  height: 100%;
  padding: 80px 20px 0;
}

.logPage > table {
  table-layout: fixed;
}

.logPage th {
  color: #909399;
}

.logPage td {
  text-align: center;
  color: #606266;
}

.logPage > pre {
  overflow-y: auto;
  max-height: 400px;
  margin-top: 50px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  color: #606266;
}


#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.dialog__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__box {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.dialog__header {
  margin: 0 -20px;
  padding: 10px;
  color: #fff;
  background-color: #286090;
}

.dialog__title {
  font-size: 18px;
}

.dialog__title + span {
  float: right;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.dialog__content {
  margin-top: 20px;
}

.dialog__footer {
  text-align: right;
}

.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 15px;
  font-size: inherit;
  line-height: 40px;
  color: #606266;
  background-image: none;
  background-color: #fff;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  -webkit-appearance: none;
  outline: none;
}

.input:focus {
  border-color: #409eff;
}

.select {
  width: 47%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 16px;
  vertical-align: top;
}

.select + .select {
  float: right;
}

.select:focus {
  border-color: #409eff;
  outline: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}